option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "superlists.superlists.settings"
    PYTHONPATH: "/opt/python/current/app/superlists:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "superlists/wsgi.py"
container_commands:
  keep-pip-up2date:
    command: pip install -r requirements.txt
