option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "superlists.settings"
    PYTHONPATH: "/opt/python/current/app/superlists:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "superlists/superlists/wsgi.py"
container_commands:
  01-ensure-sqlite-db-owned:
    command: "sudo chown wsgi /opt/python/ondeck/current/database/db.sqlite3"
  02-keep-pip-up2date:
    command: pip install -r requirements.txt
  03-migrate:
    command: "source /opt/python/run/venv/bin/activate && python superlists/manage.py migrate --noinput"
    leader_only: true
